// 图标
.icon {
  display: inline-block;
  width: 7px;
  height: 7px;
}

.header-icon-img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1.25rem;
}
.header-icon-img-r {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1.25rem;
  // #550: 标题未对齐，删除padding
  // margin-top: 10px;
}
.text-color-orange {
  color: #FF6314
}

.text-color-black {
  color: #27282E;
}
.close-icon{
  color: #27282E;
  font-size: 30px;
}

